.l-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.375em; }
  .l-content:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 48em) {
  .l-content {
    padding: 0 0.5em;
    position: relative; }
    .l-content .l-content {
      position: relative; } }

select {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 3px 6px;
  width: 100%;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right 0 top 50%; }

.views-exposed-form .views-exposed-widgets {
  margin-bottom: 20px; }
  .views-exposed-form .views-exposed-widgets .views-submit-button, .views-exposed-form .views-exposed-widgets .views-reset-button {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 0.55em; }
    .views-exposed-form .views-exposed-widgets .views-submit-button input, .views-exposed-form .views-exposed-widgets .views-reset-button input {
      width: 100%; }
  .views-exposed-form .views-exposed-widgets .form-submit {
    margin-top: 1.5em; }
  .views-exposed-form .views-exposed-widgets .form-select {
    min-width: 5.5em; }

@media (min-width: 48em) {
  .views-exposed-form {
    padding-top: 10px; }
    .views-exposed-form .views-exposed-widgets .views-submit-button, .views-exposed-form .views-exposed-widgets .views-reset-button {
      width: 11.01695%;
      float: left;
      margin-right: 1.69492%;
      padding: 0;
      margin-top: 0.55em; }
    .views-exposed-form .views-exposed-widgets .form-submit {
      margin-top: 1.5em; } }

.l-main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .l-main:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 48em) {
  .l-main {
    padding: 0 0.5em;
    position: relative; }
    .l-main .l-content {
      position: relative; } }

img, media {
  max-width: 100%; }

.osmplayer-default {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

video {
  height: auto; }

.youtube-container--responsive {
  margin-bottom: 1.375em; }

.node--media {
  margin-bottom: 1.375em !important; }

.l-page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  margin-top: 20px; }
  .l-page:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 48em) {
  .l-page {
    padding: 0; } }

html {
  font-size: 100%;
  line-height: 1.375em; }

body {
  font-family: "Gotham A", "Gotham B", arial, sans-serif;
  color: #58595b;
  font-weight: 300; }

headers(all) {
  font-weight: 400; }

h1 {
  font-size: 1.75em;
  line-height: 1.57143em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6875em; }
  .front h1 {
    text-align: center; }

h2:not(.element-invisible) {
  font-size: 1.5em;
  line-height: 1.83333em;
  margin-top: 1.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6875em; }

h3 {
  font-size: 1.25em;
  line-height: 2.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6875em; }
  h3.pane-title {
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.6875em;
    font-size: 1em;
    line-height: 1.375em; }

h4 {
  font-size: 1.125em;
  line-height: 1.22222em;
  margin-top: 1.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.6875em; }

li {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }
  .front .right-column li {
    font-size: 0.875em;
    line-height: 1.57143em; }

a {
  color: #1b9590;
  background-color: transparent;
  text-decoration: underline;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  a:hover {
    color: #00283e;
    background-color: transparent;
    text-decoration: none; }
  a:visited {
    color: #1b9590; }
  a:visited:hover {
    color: #00283e; }

p,
label {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.375em;
  color: green; }
  .front .right-column p, .front .right-column
  label {
    font-size: 0.875em;
    line-height: 1.57143em; }

strong {
  font-weight: 400; }

em {
  font-style: italic; }

.l-branding {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }

@media (min-width: 48em) {
  .l-branding {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; } }

#breadcrumbs {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }
  #breadcrumbs ul {
    margin: 0;
    list-style-type: none;
    font-size: 0.875em;
    line-height: 1.57143em; }
    #breadcrumbs ul, #breadcrumbs ul li {
      margin: 0;
      padding: 0;
      display: inline; }
    #breadcrumbs ul li:after {
      content: ">"; }
    #breadcrumbs ul li:last-child:after {
      content: ""; }
    #breadcrumbs ul li:after {
      margin: 0 1em; }

.contact-form {
  margin-bottom: 20px; }
  .contact-form label {
    margin-bottom: 10px; }
  .contact-form .form-text,
  .contact-form .form-textarea {
    border: 1px solid #eeefef;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .contact-form .form-submit {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #FFFFFF;
    background: #FFFFFF;
    color: #58595b;
    border: 1px solid #58595b; }
    .contact-form .form-submit:hover {
      background-color: #58595b;
      color: #FFFFFF; }

.copyright-block {
  margin-top: 0em;
  padding-top: 0.6875em;
  padding-bottom: 0.6875em;
  margin-bottom: 0em; }

@media (min-width: 48em) {
  .copyright-block {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; } }

.feed-icon {
  text-align: right;
  padding-bottom: 10px; }

.l-footer {
  margin-right: -100%;
  margin-left: -100%;
  padding-right: 100%;
  padding-left: 100%; }
  .l-footer::after {
    clear: both;
    content: "";
    display: table; }
  .l-footer.top {
    background-color: #FFFFFF; }
  .l-footer.bottom {
    background-color: #00283e; }

.footer-menu {
  padding: 2em 0.5em 0.5em 0.5em; }
  .footer-menu > .menu {
    padding-left: 0;
    text-align: left;
    margin: 0;
    list-style: none; }
    .footer-menu > .menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    .footer-menu > .menu a {
      color: #939598;
      background-color: transparent;
      text-decoration: underline;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .footer-menu > .menu a:hover {
        color: #1b9590;
        background-color: transparent;
        text-decoration: none; }
      .footer-menu > .menu a:visited {
        color: #939598; }
      .footer-menu > .menu a:visited:hover {
        color: #1b9590; }
      .footer-menu > .menu a.active {
        font-weight: bold;
        color: underline; }
      .footer-menu > .menu a.active:hover {
        color: underline; }
    .footer-menu > .menu .nolink {
      font-weight: bold;
      text-transform: uppercase; }
    .footer-menu > .menu .menu {
      padding-left: 0;
      margin-bottom: 10px; }

@media (min-width: 48em) {
  .footer-menu {
    width: 49.15254%;
    float: right;
    margin-right: 0; }
    .footer-menu > .menu {
      padding-left: 0;
      text-align: left;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      list-style: none; }
      .footer-menu > .menu li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0; }
      .footer-menu > .menu li {
        box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: inline-block;
        /* non flexbox browsers */ }
      .footer-menu > .menu a {
        color: #939598;
        background-color: transparent;
        text-decoration: underline;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .footer-menu > .menu a:hover {
          color: #1b9590;
          background-color: transparent;
          text-decoration: none; }
        .footer-menu > .menu a:visited {
          color: #939598; }
        .footer-menu > .menu a:visited:hover {
          color: #1b9590; }
        .footer-menu > .menu a.active {
          font-weight: bold;
          color: underline; }
        .footer-menu > .menu a.active:hover {
          color: underline; } }

.l-footer-wrapper {
  margin-right: -100%;
  margin-left: -100%;
  padding-right: 100%;
  padding-left: 100%;
  color: #939598; }
  .l-footer-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .l-footer-wrapper strong {
    color: #FFFFFF; }

@media (min-width: 48em) {
  .l-footer-wrapper .l-footer::after {
    clear: both;
    content: "";
    display: table; }
  .l-footer-wrapper .l-footer .site-logo {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-top: 20px;
    padding-bottom: 20px; } }

.l-header-wrapper {
  margin-right: -100%;
  margin-left: -100%;
  padding-right: 100%;
  padding-left: 100%;
  margin-bottom: 20px; }

.l-header {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .l-header:after {
    content: " ";
    display: block;
    clear: both; }

@media (min-width: 48em) {
  .l-header {
    padding: 0.5em 0.5em 0 0.5em; } }

.l-main-menu {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }
  .l-main-menu .menu {
    padding-left: 0;
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    list-style: none;
    margin: 0 -5px; }
    .l-main-menu .menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    .l-main-menu .menu li {
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: inline-block;
      /* non flexbox browsers */ }
    .l-main-menu .menu a {
      color: #005677;
      background-color: #FFFFFF;
      text-decoration: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .l-main-menu .menu a:hover {
        color: #FFFFFF;
        background-color: #005677;
        text-decoration: none; }
      .l-main-menu .menu a:visited {
        color: #005677; }
      .l-main-menu .menu a:visited:hover {
        color: #FFFFFF; }
      .l-main-menu .menu a.active {
        font-weight: bold;
        color: #c973af; }
      .l-main-menu .menu a.active:hover {
        color: #c973af; }
    .l-main-menu .menu > li > ul {
      display: none;
      visibility: hidden; }
    .l-main-menu .menu > li {
      margin: 0 5px; }
      .l-main-menu .menu > li > a {
        border: 1px solid transparent; }
      .l-main-menu .menu > li.sfHover > a {
        border: 1px solid #005677;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
    .l-main-menu .menu .sf-depth-3 {
      left: -0.5px;
      top: -0.5px; }
    .l-main-menu .menu .sf-sub-indicator {
      right: 6px; }
    .l-main-menu .menu a {
      margin-top: 0em;
      padding-top: 0.6875em;
      padding-bottom: 0.6875em;
      margin-bottom: 0em;
      display: block; }
      .l-main-menu .menu a > .sf-sub-indicator {
        top: 38%; }

@media (min-width: 48em) {
  .left-column {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .centre-column {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  .right-column {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  .right-content {
    width: 66.10169%;
    float: right;
    margin-right: 0; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; } }

.search-form {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  position: relative; }
  .search-form .form-item {
    display: block;
    margin-bottom: 0;
    text-align: left; }
    .search-form .form-item input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 3px solid #61c6c6;
      height: 34px;
      padding-left: 2.5em;
      width: 100%; }
      .search-form .form-item input.form-autocomplete {
        background-position: 98% 8px; }
        .search-form .form-item input.form-autocomplete.throbbing {
          background-position-y: -13px; }
  .search-form .form-submit,
  .search-form .form-actions input {
    background: url("../images/search-icon.png");
    background: url("../images/search-icon.png");
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2em; }
    .search-form .form-submit:hover,
    .search-form .form-actions input:hover {
      background-color: #61c6c6; }
  .search-form .form-submit {
    top: 44px; }
  .search-form span.ds-search-highlight {
    background-color: #FFFFFF !important;
    font-weight: bold !important; }

.field--name-search-snippet {
  margin-bottom: 20px; }

.second-menu .menu {
  margin: 0 -5px;
  padding-left: 0;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  list-style: none; }
  .second-menu .menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }
  .second-menu .menu li {
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-block;
    /* non flexbox browsers */ }
  .second-menu .menu a {
    color: #1b9590;
    background-color: transparent;
    text-decoration: underline;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .second-menu .menu a:hover {
      color: #c973af;
      background-color: transparent;
      text-decoration: none; }
    .second-menu .menu a:visited {
      color: #1b9590; }
    .second-menu .menu a:visited:hover {
      color: #c973af; }
    .second-menu .menu a.active {
      font-weight: bold;
      color: #58595b; }
    .second-menu .menu a.active:hover {
      color: #58595b; }
  .second-menu .menu li {
    margin: 0 10px; }
    .second-menu .menu li a {
      margin-top: 0em;
      padding-top: 4.8125em;
      padding-bottom: 0.6875em;
      margin-bottom: 0em;
      display: block;
      font-weight: bold; }

.second-menu .leaf.menu-mlid-545 a {
  background: url("../images/icons/land.png") no-repeat center top;
  min-width: 64px; }

.second-menu .leaf.menu-mlid-550 a {
  background: url("../images/icons/investment.png") no-repeat center top;
  min-width: 64px; }

.second-menu .leaf.menu-mlid-553 a {
  background: url("../images/icons/infrastructure.png") no-repeat center top;
  min-width: 64px; }

.second-menu .leaf.menu-mlid-554 a {
  background: url("../images/icons/workforce.png") no-repeat center top;
  min-width: 64px; }

.second-menu .leaf.menu-mlid-555 a {
  background: url("../images/icons/water.png") no-repeat center top;
  min-width: 64px; }

.menu-block .subtheme-name:before {
  content: '\00a0-\00a0'; }

.menu-block > .menu > .leaf a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1em;
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef; }

.menu-block .menu {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem; }
  .menu-block .menu .menu {
    padding: 0; }
    .menu-block .menu .menu a {
      padding-left: 1.5625rem; }
  .menu-block .menu .leaf {
    list-style: none;
    margin: 0; }
  .menu-block .menu a {
    display: block;
    padding: 0.1875rem;
    transition: background-color #FFFFFF #005677, color #FFFFFF #005677;
    border: none;
    color: #58595b;
    font-size: 14.4px;
    font-weight: normal;
    text-decoration: none; }
    .menu-block .menu a.active-trail, .menu-block .menu a.active {
      font-weight: bold; }
    .menu-block .menu a:hover {
      background-color: #FFFFFF;
      color: #c973af; }
    .menu-block .menu a:active {
      background-color: #61c6c6;
      color: #FFFFFF; }
  .menu-block .menu .expanded {
    margin: 0;
    list-style-position: inside; }
    .ff .menu-block .menu .expanded,
    .ie .menu-block .menu .expanded {
      margin: 0 0 0 0.8em;
      list-style-position: outside; }
    .menu-block .menu .expanded > a {
      border-bottom: 1px solid #eeefef;
      text-indent: -0.9em;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1em; }
    .menu-block .menu .expanded .menu {
      display: none; }
    .menu-block .menu .expanded.active-trail .menu {
      display: block; }
  .menu-block .menu .collapsed {
    margin: 0;
    list-style-position: inside; }
    .ff .menu-block .menu .collapsed,
    .ie .menu-block .menu .collapsed {
      margin: 0 0 0 0.8em;
      list-style-position: outside; }
    .menu-block .menu .collapsed > a {
      border-bottom: 1px solid #eeefef;
      text-indent: -0.9em;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1em; }
    .menu-block .menu .collapsed .menu {
      display: none; }
    .menu-block .menu .collapsed.active-trail .menu {
      display: block; }

.sub-footer-menu .menu {
  margin: 0 -5px;
  padding-left: 0;
  text-align: center;
  margin: 0;
  list-style: none; }
  .sub-footer-menu .menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0; }
  .sub-footer-menu .menu a {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: underline;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sub-footer-menu .menu a:hover {
      color: #c973af;
      background-color: transparent;
      text-decoration: none; }
    .sub-footer-menu .menu a:visited {
      color: #FFFFFF; }
    .sub-footer-menu .menu a:visited:hover {
      color: #c973af; }
    .sub-footer-menu .menu a.active {
      font-weight: bold;
      color: #9cd9e0; }
    .sub-footer-menu .menu a.active:hover {
      color: #9cd9e0; }
  .sub-footer-menu .menu li {
    margin: 0 5px; }
    .sub-footer-menu .menu li a {
      margin-top: 0em;
      padding-top: 0.6875em;
      padding-bottom: 0.6875em;
      margin-bottom: 0em;
      display: block; }

@media (min-width: 48em) {
  .sub-footer-menu {
    width: 49.15254%;
    float: right;
    margin-right: 0; }
    .sub-footer-menu .menu {
      padding-left: 0;
      text-align: center;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      list-style: none; }
      .sub-footer-menu .menu li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0; }
      .sub-footer-menu .menu li {
        box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: inline-block;
        /* non flexbox browsers */ }
      .sub-footer-menu .menu a {
        color: #FFFFFF;
        background-color: transparent;
        text-decoration: underline;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .sub-footer-menu .menu a:hover {
          color: #c973af;
          background-color: transparent;
          text-decoration: none; }
        .sub-footer-menu .menu a:visited {
          color: #FFFFFF; }
        .sub-footer-menu .menu a:visited:hover {
          color: #c973af; }
        .sub-footer-menu .menu a.active {
          font-weight: bold;
          color: underline; }
        .sub-footer-menu .menu a.active:hover {
          color: underline; } }

.l-region--subfooter {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 0.5em; }
  .l-region--subfooter::after {
    clear: both;
    content: "";
    display: table; }

.l-content table {
  line-height: 1.5;
  width: 100%;
  border: none; }
  .l-content table ul {
    margin: 0;
    list-style-type: square;
    margin: 0 0 0 1em;
    padding-left: 0; }
    .l-content table ul li {
      list-style-type: none; }
  .l-content table p {
    padding: 0;
    margin: 0; }
  .l-content table th, .l-content table td {
    background: #e9eaea;
    background: #e9eaea;
    padding: 0.75em 1em;
    font-size: 1em;
    border-bottom: 1px solid #939598;
    vertical-align: top; }
    .l-content table th.header-cell, .l-content table td.header-cell {
      background: transparent;
      background: transparent; }
    .l-content table th.header-row, .l-content table td.header-row {
      font-size: 1.6em; }
  .l-content table th {
    background: #939598;
    background: #939598;
    color: #FFFFFF; }

.l-content table td.views-field.views-field-field-publication-date {
  width: 20%; }

.news-events {
  margin-bottom: 20px; }
  .news-events .more-link a {
    border-bottom: none;
    background: #FFFFFF;
    background: #FFFFFF;
    padding: 0.5rem 1rem;
    color: #58595b;
    transition: background-color #1b9590 #00283e;
    transition: color #9cd9e0 #1b9590; }
    .news-events .more-link a:hover {
      background: #58595b;
      background: #58595b;
      color: #FFFFFF; }
  .news-events .events-list-item {
    margin-bottom: 10px; }
    .news-events .events-list-item::after {
      clear: both;
      content: "";
      display: table; }
    .news-events .events-list-item .date-display-single {
      width: 26.47059%;
      float: left;
      margin-right: 2.94118%;
      text-transform: uppercase;
      font-weight: bold;
      font-style: normal; }
    .news-events .events-list-item p {
      width: 70.58824%;
      float: right;
      margin-right: 0;
      margin-bottom: 0.8em; }

.l-utilities {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px; }

@media (min-width: 48em) {
  .l-utilities {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin-top: 3em; } }

.view-footer p {
  text-align: right;
  font-weight: 400; }

.pane-link-link-related p {
  font-size: 1em !important; }

/*# sourceMappingURL=ona.styles.css.map */
