// Forms.

.contact-form {
	@include margin(null null $vert-spacing-unit null);
	label {
		margin-bottom: $vert-spacing-unit / 2;
	}
	.form-text,
	.form-textarea {
		border: 1px solid lighten($grey50,35%);
		@include border-radius(0);
	}

	.form-submit {
		@include border-radius(0);
		@include background($white);
		color: $grey80;
		border: 1px solid $grey80;
		&:hover {
			background-color: $grey80;
			color: $white;
		}
	}
}