.second-menu {
	.menu {
		margin: 0 -5px;
		@include menu(
			horizontal,
			center,
			$second-menu-text,
			$second-menu-hover-text
		);
		li {
			margin: 0 10px;
			a {
				@include rhythm(0,3.5,0.5,0);
				display: block;
				font-weight: bold;
			}
		}
	}
	.leaf {
		$menu-items: (
			545: land,
			550: investment,
			553: infrastructure,
			554: workforce,
			555: water
		);
		@each $menu-item, $menu-icon in $menu-items {
			&.menu-mlid-#{$menu-item} a {
				background: url('../images/icons/#{$menu-icon}.png') no-repeat center top;
				min-width: 64px;
			}
		}
	}
}
.menu-block {
	.subtheme-name {
		&:before {
			content: '\00a0-\00a0'
		}
	}
	> .menu > .leaf a {
		@include padding(rem(8) null rem(8) 1em);
		border-bottom: 1px solid lighten($grey50, 35%);
		border-top: 1px solid lighten($grey50, 35%);
	}
	.menu {
		@include padding(null rem(5px));
		.menu {
			@include padding(0);
			a {
				@include padding(null null null rem(25));
			}
		}
		.leaf {
			list-style: none;
			@include margin(0);
		}
		a {
			@include display(block);
			@include padding(rem(3));
			@include transition(background-color $white $major, color $white $major);
			border: none;
			color: $grey80;
			font-size: $base-font-size * 0.9;
			font-weight: normal;
			text-decoration: none;
			&.active-trail,
			&.active {
				font-weight: bold;
			}
			&:hover {
				background-color: $white;
				color: $accent;
			}
			&:active {
				background-color: $minor-3;
				color: $white;
			}
		}
		.expanded {
			@include margin(0);
			list-style-position: inside;
			.ff &,
			.ie & {
				@include margin(0 0 0 0.8em);
				list-style-position: outside;
			}
			> a {
				border-bottom: 1px solid lighten($grey50, 35%);
				text-indent: -0.9em;
				@include padding(rem(8) null rem(8) 1em);
			}
			.menu {
				@include display(none);
			}
			&.active-trail .menu {
				@include display(block);
			}
		}
		.collapsed {
			@include margin(0);
			list-style-position: inside;
			.ff &,
			.ie & {
				@include margin(0 0 0 0.8em);
				list-style-position: outside;
			}
			> a {
				border-bottom: 1px solid lighten($grey50, 35%);
				text-indent: -0.9em;
				@include padding(rem(8) null rem(8) 1em);
			}
			.menu {
				@include display(none);
			}
			&.active-trail .menu {
				@include display(block);
			}
		}
	}
}
@include susy-breakpoint($bp-tablet, $tab-cols) {
}