// Provides various mixins.
@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@mixin no-bullets {
  list-style: none;
  li {
    @include no-bullet;
  }
}
@mixin delimited-list($separator: ", ") {
  @include inline-list;
  li {
    &:after {
      content: $separator;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}
@mixin inline-list {
  list-style-type: none;
  &, & li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}
@mixin border-radius($border-radius:0) {
		@include border-top-radius($border-radius);
		@include border-bottom-radius($border-radius);
	}

@mixin hide-element {
  display: none;
  visibility: hidden;
}

@mixin show-element {
	display: block;
	visibility: visible;
}

@mixin menu(
	$type,														// Whether the menu is horizontal or vertical.
	$align,														// Text alignment for items.
	$color: $text-color, 							// Base color for items.
	$hover-color: $text-hover-color, 	// Hover color for items.
	$active-color: $text-active-color,	// Active color for items.
	$decoration: underline, 					// Text decoration.
	$background-color: transparent, 	// Background color for items.
	$background-hover: transparent 		// Background hover for items.
	) {
	padding-left: 0;
	text-align: $align;
	margin: 0;
	@if $type == horizontal {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(center);
		@include no-bullets;
		li {
			@include flex(1 1 auto);
			display: inline-block; /* non flexbox browsers */
		}
	} @else if $type == vertical {
		@include no-bullets;
	}
	a {
		@include link($color, $hover-color, $decoration, $background-color, $background-hover, $color);
		&.active {
			font-weight: bold;
			color: $active-color;
		}
		&.active:hover {
			color: $active-color;
		}
	}
}

@mixin link(
	$color: $link-color, 				// Base color for items.
	$hover-color: $text-hover-color, 	// Hover color for items.
	$decoration: underline, 			// Text decoration.
	$background-color: transparent, 	// Background color for items.
	$background-hover: transparent,		// Background hover for items.
	$visited: $link-color				// Visited link color.
) {
	color: $color;
	background-color: $background-color;
	text-decoration: $decoration;
	@include border-radius;
	&:hover {
		color: $hover-color;
		background-color: $background-hover;
		@if $background-hover == transparent {
			@if $decoration == underline {
				text-decoration: none;
			} @else {
				text-decoration: underline;
			}
		} @else {
			text-decoration: none;
		}
	}
	&:visited {
		color: $color;
	}
	&:visited:hover{
		color: $hover-color;
	}
}
@mixin button($color) {
	border-bottom: none;
	@include background($white);
	padding: 0.5rem 1rem;
	color: $color;
	@include transition(background-color $minor-2 $minor-1);
	@include transition(color $minor-4 $minor-2);
	&:hover {
		@include background($color);
		color: $white;
	}
}